<button id="add_button" (click)="add()">Add</button>
<button id="switch_button" (click)="useSecond = !useSecond">Switch lists</button>

<sam-drag-and-drop-grid #listComponent [items]="useSecond ? secondList : list" [columnNumber]="5">
  <div class="example-item-wrapper" *samDragAndDropListData="let listItem; let i=index">
    <div class="example-item">Item {{listItem}}; Index {{i}}</div>
  </div>
</sam-drag-and-drop-grid>

<div>
  <div class="example-list">List 1: {{list | json}}</div>
  <div class="example-list">List 2: {{secondList | json}}</div>
  <div class="example-list">Currently selected: List {{useSecond ? 2 : 1}}</div>
</div>
